<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta charset="utf-8">
  <meta name="google-site-verification" content="xxxxxx" />
  {{ site.seo }}
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">

  {% seo %}

  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>

<body>
  <header class="site-header">
    <div class="container">
      <h1 class="site-title">
        <a href="{{ '/' | relative_url }}">Utility SEO Blog</a>
      </h1>
    </div>
  </header>

  <main class="site-main container">
    {{ content }}
  </main>

  <footer class="site-footer">
    <div class="container">
      © 2025 동현
    </div>
  </footer>
</body>
</html>
