---
layout: default
---

<div class="home">
  <h2>최신 글</h2>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url | relative_url }}">
          <h3>{{ post.title }}</h3>
        </a>
        <p class="post-date">{{ post.date | date: "%Y-%m-%d" }}</p>
        <p>{{ post.description }}</p>
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">이전</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">다음</a>
    {% endif %}
  </div>
  {% endif %}
</div>
